body {
    font-family: 'Greycliff', sans-serif;
}

/* Custom Scrollbar Styles */
.custom-scroll {
  /* Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #EEE3FF;
    border-radius: 20px;
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #EEE3FF transparent;
}

.detail-container {
  padding: 20px 10%;
  background-color: white;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.05);
}